<div class="row">
  <div class="col s12 l6">
    <% if (post.next){ %> <a href="<%- url_for(post.next.path) %>">
      <div class="card white article-nav prev hoverable">
      <i class="material-icons left ">fast_rewind</i>
        <h3>Older</h3>
        <% if (post.next){ %>
          <% if (post.next.title){ %>
            <%= post.next.title %>
          <% } else { %>
            (no title)
          <% } %>
        <% } %>
      </div>
    </a>
    <% } %>
  </div>
  <div class="col s12 l6">
   <% if (post.prev){ %> <a href="<%- url_for(post.prev.path) %>">
      <div class="card white article-nav next hoverable">
      <i class="material-icons right ">fast_forward</i>
        <h3>Newer</h3>
        <% if (post.prev){ %>
          <% if (post.prev.title){ %>
            <%= post.prev.title %>
          <% } else { %>
            (no title)
          <% } %>
        <% } %>
      </div>
    </a>
    <% } %>
  </div>

</div>

<!-- <% if (post.prev || post.next){ %>
<nav id="article-nav">
  <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
      <strong class="article-nav-caption"><%= __('newer') %></strong>
      <div class="article-nav-title">
        <% if (post.prev.title){ %>
          <%= post.prev.title %>
        <% } else { %>
          (no title)
        <% } %>
      </div>
    </a>
  <% } %>
  <% if (post.next){ %>
    <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
      <strong class="article-nav-caption"><%= __('older') %></strong>
      <div class="article-nav-title"><%= post.next.title %></div>
    </a>
  <% } %>
</nav>
<% } %> -->