<% if (post.link){ %>
  <h1 itemprop="name" style="text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black">
    <a href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
  </h1>
<% } else if (post.title){ %>
  <% if (index){ %>
    <h1 itemprop="name" style="text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black">
      <a href="<%- url_for(post.path) %>"><%= post.title %></a>
    </h1>
  <% } else { %>
    <h1 itemprop="name" style="text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black">
      <%= post.title %>
    </h1>
  <% } %>
<% } %>