<%- partial('_partial/head') %>
<body>
  <!-- HEADER -->
  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
  <!-- MAIN BODY CONTAINER -->
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l9">
        <section><%- body %></section>
      </div>
      <div class="col s12 m12 l3">
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
      <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
    <% } %>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <!-- AFTER-FOOTER -->
  <%- partial('_partial/after-footer') %>
</body>
</html>